/* Slide item. */
@host {
  position: fixed;
  top: 0; left: 0%;

  width: 100%; height: 100%;
  -webkit-transition: all .7s ease-out;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;

  color: #FFF;

  overflow-y: auto;
  overflow-x: hidden;
}

@host:target ~ @host {
  left: 100%;
}

@host:target + slide-index {
  content: "Slide #" attr(id);

  position: fixed;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #333;
  background: rgba(255, 255, 255, .3);
  padding: 20px;
  z-index: 1000;
}

p {
  font-size: 24px;
}

pre, img {
  border: 4px solid rgba(255, 255, 255, .5);
}

pre {
  min-width: 900px;
}

slide-content {
  display: block;
  text-align: center;
}

slide-notes {
  display: none;
}
